@import '../../../config-scss/rem-calc.scss';
@import '../../../config-scss/variable.scss';

:host{
    display: flex;
    justify-content: space-between;
    .pokemon{
        position: relative;
        display: flex;
        background: var(--branco);
        width: 49%;
        height: rem-calc(160);
        padding: rem-calc(20);   
        border-radius: rem-calc(10);
        &__status {
            h2 {
                font-size: rem-calc(22);
                font-style: italic;
                font-weight: 700;
                text-transform: capitalize;

                margin-bottom: rem-calc(10);
            }

            ul {
                display: flex;
                flex-direction: column;

                li {
                    background: var(--cinza);
                    font-size: rem-calc(10);

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    border-radius: rem-calc(50);

                    width: rem-calc(60);
                    margin-bottom: rem-calc(5);
                }
            }
        }

        &__img{
            position: absolute;

            display: flex;
            align-items: center;
            justify-content: center;

            height: rem-calc(90);
            width: rem-calc(110);

            right: rem-calc(20);;
            bottom: rem-calc(20);;

            background: url('../../../assets/bg/background-list.svg') no-repeat;

            img {
                width: rem-calc(60);
            }
        }
    }
}